bin/Debug/C Sharp Introduction.exe
bin/Debug/C Sharp Introduction.exe.config
bin/Debug/C Sharp Introduction.pdb
bin/Debug/C Sharp Introduction.vshost.exe
bin/Debug/C Sharp Introduction.vshost.exe.config
bin/Debug/C Sharp Introduction.vshost.exe.manifest
obj/Debug/C Sharp Introduction.csproj.FileListAbsolute.txt
obj/Debug/C Sharp Introduction.csprojResolveAssemblyReference.cache
obj/Debug/C Sharp Introduction.exe
obj/Debug/C Sharp Introduction.pdb
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
